//Light
$mainColor: #fff;
$mainBackColor: #eaebf0;
$colorElements: #dcdcdc;
$antBlue: #1890ff;
$lightBlue: #e6f7ff;
$lightOrange: #ffc391;
$mainOrange: #ff8623;
//Dark
$mainDarkColor: #000;
$mainDarkBackColor: #0e0e0e;
$borderDarkColor: #202020;
$colorElementsDark: #323232;
$scrollBarDark: #4b4b4b;
$scrollBarThumDark: #747474;
$colorDarkText: rgba(255, 255, 0255, 0.7);

//common
$backGrounModal: #4f4f4f;

//scale for camera
$scaleCamera: 1.2;
